In [1]:
# Import dependencies
import pandas as pd
from pathlib import Path
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.font_manager as font_manager
import matplotlib as mpl
import seaborn as sns

# Set DPI of all Plots
plt.rcParams["figure.dpi"] = 150

# Set Dark Grid for all Plots
sns.set_style('darkgrid')

# File to Load
citibike_july_csv = Path("Resources/2013-07 - Citi Bike trip data.csv")
citibike_december_csv = Path("Resources/2013-12 - Citi Bike trip data.csv")

In [2]:
# Import Data from CSV files as Pandas DataFrames
citibike_july_df = pd.read_csv(citibike_july_csv)
citibike_december_df = pd.read_csv(citibike_december_csv)

In [3]:
citibike_july_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 843416 entries, 0 to 843415
Data columns (total 15 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   tripduration             843416 non-null  int64
 1   starttime                843416 non-null  object
 2   stoptime                 843416 non-null  object
 3   start station id         843416 non-null  int64
 4   start station name       843416 non-null  object
 5   start station latitude   843416 non-null  float64
 6   start station longitude  843416 non-null  float64
 7   end station id           843416 non-null  int64
 8   end station name         843416 non-null  object
 9   end station latitude     843416 non-null  float64
 10  end station longitude    843416 non-null  float64
 11  bikeid                   843416 non-null  int64
 12  usertype                 843416 non-null  object
 13  birth year               843416 non-null  object
 14  gender                   843416 non-null  int64
dtypes: float64(4), int64(5), object(6)
memory usage: 96.5+ MB

In [4]:
# Check July DF
citibike_july_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,634,2013-07-01 00:00:00,2013-07-01 00:10:34,164,E 47 St & 2 Ave,40.753231,-73.970325,504,1 Ave & E 15 St,40.732219,-73.981656,16950,Customer,\N,0
1,1547,2013-07-01 00:00:02,2013-07-01 00:25:49,388,W 26 St & 10 Ave,40.749718,-74.002950,459,W 20 St & 11 Ave,40.746745,-74.007756,19816,Customer,\N,0
2,178,2013-07-01 00:01:04,2013-07-01 00:04:02,293,Lafayette St & E 8 St,40.730287,-73.990765,237,E 11 St & 2 Ave,40.730473,-73.986724,14548,Subscriber,1980,2
3,1580,2013-07-01 00:01:06,2013-07-01 00:27:26,531,Forsyth St & Broome St,40.718939,-73.992663,499,Broadway & W 60 St,40.769155,-73.981918,16063,Customer,\N,0
4,757,2013-07-01 00:01:10,2013-07-01 00:13:47,382,University Pl & E 14 St,40.734927,-73.992005,410,Suffolk St & Stanton St,40.720664,-73.985180,19213,Subscriber,1986,1

In [5]:
# Check December DF
citibike_december_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1015,2013-12-01 00:00:03,2013-12-01 00:16:58,401,Allen St & Rivington St,40.720196,-73.989978,476,E 31 St & 3 Ave,40.743943,-73.979661,14729,Subscriber,1979,2
1,962,2013-12-01 00:00:07,2013-12-01 00:16:09,312,Allen St & E Houston St,40.722055,-73.989111,223,W 13 St & 7 Ave,40.737815,-73.999947,17871,Subscriber,1970,2
2,768,2013-12-01 00:00:15,2013-12-01 00:13:03,326,E 11 St & 1 Ave,40.729538,-73.984267,291,Madison St & Montgomery St,40.713126,-73.984844,18508,Subscriber,1982,2
3,218,2013-12-01 00:00:49,2013-12-01 00:04:27,2021,W 45 St & 8 Ave,40.759291,-73.988597,447,8 Ave & W 52 St,40.763707,-73.985162,17745,Subscriber,1976,1
4,550,2013-12-01 00:01:28,2013-12-01 00:10:38,439,E 4 St & 2 Ave,40.726281,-73.989780,296,Division St & Bowery,40.714131,-73.997047,16947,Subscriber,1983,1

In [6]:
# Join July and December DFs together
complete_df = pd.concat([citibike_july_df, citibike_december_df])

In [7]:
# Check Complete DF
complete_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,634,2013-07-01 00:00:00,2013-07-01 00:10:34,164,E 47 St & 2 Ave,40.753231,-73.970325,504,1 Ave & E 15 St,40.732219,-73.981656,16950,Customer,\N,0
1,1547,2013-07-01 00:00:02,2013-07-01 00:25:49,388,W 26 St & 10 Ave,40.749718,-74.002950,459,W 20 St & 11 Ave,40.746745,-74.007756,19816,Customer,\N,0
2,178,2013-07-01 00:01:04,2013-07-01 00:04:02,293,Lafayette St & E 8 St,40.730287,-73.990765,237,E 11 St & 2 Ave,40.730473,-73.986724,14548,Subscriber,1980,2
3,1580,2013-07-01 00:01:06,2013-07-01 00:27:26,531,Forsyth St & Broome St,40.718939,-73.992663,499,Broadway & W 60 St,40.769155,-73.981918,16063,Customer,\N,0
4,757,2013-07-01 00:01:10,2013-07-01 00:13:47,382,University Pl & E 14 St,40.734927,-73.992005,410,Suffolk St & Stanton St,40.720664,-73.985180,19213,Subscriber,1986,1

In [8]:
# Check Complete DF
complete_df.tail()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
443961,1014,2013-12-31 23:55:56,2014-01-01 00:12:50,350,Clinton St & Grand St,40.715595,-73.987030,532,S 5 Pl & S 4 St,40.710451,-73.960876,16336,Subscriber,1973,1
443962,682,2013-12-31 23:57:04,2014-01-01 00:08:26,538,W 49 St & 5 Ave,40.757952,-73.977876,2006,Central Park S & 6 Ave,40.765909,-73.976342,18352,Subscriber,1986,1
443963,1520,2013-12-31 23:57:44,2014-01-01 00:23:04,281,Grand Army Plaza & Central Park S,40.764397,-73.973715,411,E 6 St & Avenue D,40.722281,-73.976687,15000,Subscriber,1985,1
443964,1166,2013-12-31 23:58:14,2014-01-01 00:17:40,492,W 33 St & 7 Ave,40.750200,-73.990931,253,W 13 St & 5 Ave,40.735439,-73.994539,21022,Subscriber,1955,1
443965,677,2013-12-31 23:58:16,2014-01-01 00:09:33,463,9 Ave & W 16 St,40.742065,-74.004432,448,W 37 St & 10 Ave,40.756604,-73.997901,17559,Subscriber,1986,1

In [9]:
# Convert birth year Column to String
complete_df['birth year'] = complete_df['birth year'].astype(str)

In [10]:
# Replace \N text in method Column with 0
complete_df['birth year'] = complete_df['birth year'].replace('\\N', 0)

In [11]:
# Convert birth year Column to Integer
complete_df['birth year'] = complete_df['birth year'].astype(int)

In [12]:
# Create Age Column
complete_df['age'] = 2013 - complete_df['birth year']

In [13]:
# Replace \N text in method Column with 0
complete_df['age'] = complete_df['age'].replace(2013, '\\N')

In [14]:
# Drop birth year Column
complete_df = complete_df.drop('birth year', axis=1)

In [15]:
# Export complete_df to CSV
complete_df.to_csv('Resources/complete_citibikes.csv', index=False, header=True)

In [16]:
# Convert starttime Column to Datetime for Filtering
complete_df['startdate'] = pd.to_datetime(complete_df['starttime'])

In [17]:
# Extract One Week from Summer

# Start and End dates for Summer
start_date = '2013-07-08'
end_date = '2013-07-15'

# Filter for Summer Week
summer_df = complete_df[(complete_df['startdate'] >= start_date) & (complete_df['startdate'] <= end_date)]

# Check summer_df
summer_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,gender,age,startdate
146371,667,2013-07-08 00:00:42,2013-07-08 00:11:49,363,West Thames St,40.708347,-74.017134,417,Barclay St & Church St,40.712912,-74.010202,19288,Customer,0,\N,2013-07-08 00:00:42
146372,871,2013-07-08 00:00:43,2013-07-08 00:15:14,427,State St,40.702515,-74.014270,426,West St & Chambers St,40.717548,-74.013221,16008,Subscriber,1,45,2013-07-08 00:00:43
146373,1561,2013-07-08 00:01:02,2013-07-08 00:27:03,426,West St & Chambers St,40.717548,-74.013221,515,W 43 St & 10 Ave,40.760094,-73.994618,16553,Customer,0,\N,2013-07-08 00:01:02
146374,1869,2013-07-08 00:01:02,2013-07-08 00:32:11,389,Broadway & Berry St,40.710446,-73.965251,503,E 20 St & Park Ave,40.738274,-73.987520,15089,Subscriber,1,31,2013-07-08 00:01:02
146375,823,2013-07-08 00:01:08,2013-07-08 00:14:51,301,E 2 St & Avenue B,40.722174,-73.983688,367,E 53 St & Lexington Ave,40.758281,-73.970694,17311,Subscriber,1,49,2013-07-08 00:01:08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
319184,1122,2013-07-14 23:59:46,2013-07-15 00:18:28,461,E 20 St & 2 Ave,40.735877,-73.982050,450,W 49 St & 8 Ave,40.762272,-73.987882,16240,Customer,0,\N,2013-07-14 23:59:46
319185,1110,2013-07-14 23:59:54,2013-07-15 00:18:24,461,E 20 St & 2 Ave,40.735877,-73.982050,440,E 45 St & 3 Ave,40.752554,-73.972826,17868,Customer,0,\N,2013-07-14 23:59:54
319186,1107,2013-07-14 23:59:58,2013-07-15 00:18:25,461,E 20 St & 2 Ave,40.735877,-73.982050,440,E 45 St & 3 Ave,40.752554,-73.972826,19765,Customer,0,\N,2013-07-14 23:59:58
319187,664,2013-07-14 23:59:59,2013-07-15 00:11:03,173,Broadway & W 49 St,40.760647,-73.984427,281,Grand Army Plaza & Central Park S,40.764397,-73.973715,19496,Subscriber,1,32,2013-07-14 23:59:59
319188,1123,2013-07-15 00:00:00,2013-07-15 00:18:43,461,E 20 St & 2 Ave,40.735877,-73.982050,440,E 45 St & 3 Ave,40.752554,-73.972826,17559,Customer,0,\N,2013-07-15 00:00:00

In [18]:
# Extract One Week from Winter

# Start and End dates for Winter
start_date = '2013-12-02'
end_date = '2013-12-09'

# Filter for Winter Week
winter_df = complete_df[(complete_df['startdate'] >= start_date) & (complete_df['startdate'] <= end_date)]

# Check winter_df
winter_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,gender,age,startdate
13326,2054,2013-12-02 00:01:05,2013-12-02 00:35:19,442,W 27 St & 7 Ave,40.746647,-73.993915,395,Bond St & Schermerhorn St,40.688070,-73.984106,16533,Subscriber,1,39,2013-12-02 00:01:05
13327,771,2013-12-02 00:01:24,2013-12-02 00:14:15,532,S 5 Pl & S 4 St,40.710451,-73.960876,301,E 2 St & Avenue B,40.722174,-73.983688,16449,Subscriber,1,32,2013-12-02 00:01:24
13328,304,2013-12-02 00:01:47,2013-12-02 00:06:51,345,W 13 St & 6 Ave,40.736494,-73.997044,483,E 12 St & 3 Ave,40.732233,-73.988900,14944,Subscriber,1,50,2013-12-02 00:01:47
13329,192,2013-12-02 00:02:08,2013-12-02 00:05:20,538,W 49 St & 5 Ave,40.757952,-73.977876,522,E 51 St & Lexington Ave,40.757148,-73.972078,17698,Subscriber,2,28,2013-12-02 00:02:08
13330,291,2013-12-02 00:02:13,2013-12-02 00:07:04,479,9 Ave & W 45 St,40.760193,-73.991255,448,W 37 St & 10 Ave,40.756604,-73.997901,17590,Subscriber,1,31,2013-12-02 00:02:13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156886,741,2013-12-08 23:53:14,2013-12-09 00:05:35,167,E 39 St & 3 Ave,40.748901,-73.976049,504,1 Ave & E 15 St,40.732219,-73.981656,18153,Subscriber,2,36,2013-12-08 23:53:14
156887,740,2013-12-08 23:53:55,2013-12-09 00:06:15,2010,Grand St & Greene St,40.721655,-74.002347,393,E 5 St & Avenue C,40.722992,-73.979955,17792,Subscriber,1,34,2013-12-08 23:53:55
156888,452,2013-12-08 23:55:04,2013-12-09 00:02:36,511,E 14 St & Avenue B,40.729387,-73.977724,300,Shevchenko Pl & E 6 St,40.728145,-73.990214,15331,Subscriber,1,59,2013-12-08 23:55:04
156889,430,2013-12-08 23:56:37,2013-12-09 00:03:47,2003,1 Ave & E 18 St,40.734161,-73.980243,403,E 2 St & 2 Ave,40.725029,-73.990697,17506,Subscriber,1,30,2013-12-08 23:56:37
156890,733,2013-12-08 23:58:59,2013-12-09 00:11:12,317,E 6 St & Avenue B,40.724537,-73.981854,223,W 13 St & 7 Ave,40.737815,-73.999947,19696,Subscriber,1,29,2013-12-08 23:58:59

In [19]:
# Join Summer and Winter DFs together
tableau_df = pd.concat([summer_df, winter_df])

# Drop startdate Column
tableau_df = tableau_df.drop('startdate', axis=1)

# Check tableau_df
tableau_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,gender,age
146371,667,2013-07-08 00:00:42,2013-07-08 00:11:49,363,West Thames St,40.708347,-74.017134,417,Barclay St & Church St,40.712912,-74.010202,19288,Customer,0,\N
146372,871,2013-07-08 00:00:43,2013-07-08 00:15:14,427,State St,40.702515,-74.014270,426,West St & Chambers St,40.717548,-74.013221,16008,Subscriber,1,45
146373,1561,2013-07-08 00:01:02,2013-07-08 00:27:03,426,West St & Chambers St,40.717548,-74.013221,515,W 43 St & 10 Ave,40.760094,-73.994618,16553,Customer,0,\N
146374,1869,2013-07-08 00:01:02,2013-07-08 00:32:11,389,Broadway & Berry St,40.710446,-73.965251,503,E 20 St & Park Ave,40.738274,-73.987520,15089,Subscriber,1,31
146375,823,2013-07-08 00:01:08,2013-07-08 00:14:51,301,E 2 St & Avenue B,40.722174,-73.983688,367,E 53 St & Lexington Ave,40.758281,-73.970694,17311,Subscriber,1,49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156886,741,2013-12-08 23:53:14,2013-12-09 00:05:35,167,E 39 St & 3 Ave,40.748901,-73.976049,504,1 Ave & E 15 St,40.732219,-73.981656,18153,Subscriber,2,36
156887,740,2013-12-08 23:53:55,2013-12-09 00:06:15,2010,Grand St & Greene St,40.721655,-74.002347,393,E 5 St & Avenue C,40.722992,-73.979955,17792,Subscriber,1,34
156888,452,2013-12-08 23:55:04,2013-12-09 00:02:36,511,E 14 St & Avenue B,40.729387,-73.977724,300,Shevchenko Pl & E 6 St,40.728145,-73.990214,15331,Subscriber,1,59
156889,430,2013-12-08 23:56:37,2013-12-09 00:03:47,2003,1 Ave & E 18 St,40.734161,-73.980243,403,E 2 St & 2 Ave,40.725029,-73.990697,17506,Subscriber,1,30
156890,733,2013-12-08 23:58:59,2013-12-09 00:11:12,317,E 6 St & Avenue B,40.724537,-73.981854,223,W 13 St & 7 Ave,40.737815,-73.999947,19696,Subscriber,1,29

In [38]:
# Export tableau_df to CSV
tableau_df.to_csv('Resources/tableau_citibikes.csv', index=False, header=True)